
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>


    <link href="~/sayfa404/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Oops! İşlem sırasında Sunucu Tarafından beklenmedik bir hata oluştu.</h2>
        <h1>500</h1>
        <p>Hemen Çözümünü yapacağız.</p>
        <a>Üzgünüz</a>
    </div>
</body>
</html>
