
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>

    
    <link href="~/sayfa404/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <h2>Oops! Sayfa bulunamadı.</h2>
        <h1>404</h1>
        <p>Aradığınız şeyi bulamadık.</p>
        <a>Üzgünüz</a>
    </div>
</body>
</html>
