
@{
    ViewBag.Title = "V_anasayfa";
    Layout = "~/Views/Shared/VitrinLayout.cshtml";
}



<section class="books py-manuel">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h3 class="text-uppercase books-title">en çok okunan kitaplar</h3>
                <div class="line">
                    <hr>
                    <i class="fas fa-star line-icon"></i>
                </div>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/The Eye of the World.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/1.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>The Eye Of The World</h5>
                            <p>Zaman çarkı döner ve çağlar gelir gider olmuş olan, olacak olan ve olmakta olan her an gölgenin altında ezilebilir, bırakın ejder bir kez daha zamanın rüzgarına binsin...</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/Olasılıksız.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/Olasılıksız.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Olasılıksız</h5>
                            <p>Eserin baş kahramanı, David Caine adında epilepsi hastası bir karakter olarak göze çarpar. David, olasılık konusunda oldukça uzmandır ve bir üniversitede ders anlatmaktadır</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/Seker.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/Şeker.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Şeker Portakalı</h5>
                            <p>
                                Brezilyalı yazar Jose Mauro de Vasconcelos’un 1968’de yayımlanan Şeker Portakalı adlı eseri, yalın anlatımı ve çarpıcı hikâyesiyle dünya edebiyatının unutulmaz başyapıtları arasında yer alıyor. Yazarının hayatından izler taşıyan eser, bir çocuğun iç dünyasından yola çıkarak tüm insanlığa acıyla yoğrularak olgunlaşmanın ağırlığını duyumsatıyor.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/buyukuyku.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/buyukuyku.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Büyük Uyku</h5>
                            <p>
                                Aldığı kararları yerine getiren kararlı bir insan olmak ister miyiz?

                                İstediği hedeflere ulaşmak için azimli bir insan olmak ister miyiz?

                                Karşılaştığı her şartta çıkarını değil, şeref gerçeğini hatırlayan ve şerefine toz kondurmadan yaşayan bir insan olmak ister miyiz?
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/Incememed.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/nceMemed.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>İnce Memed</h5>
                            <p>
                                Abdi Ağa'nın zulmüyle köyünü terk etmek zorunda kalan Memed, Ağa'nın yeğeniyle evlendirilmek üzere olan Hatçe'yi kaçırır. Abdi Ağa'yı yaralayan, yeğenini de öldüren Memed eşkıya Deli Durdu'ya katılır, ancak kıyıcılığına katlanamadığı Deli Durdu'dan iki arkadaşıyla birlikte ayrılır. Memed, sıradan bir köy çocuğuyken, zulmedenler için eşkıyaya, köylüler içinse bir kurtarıcıya dönüşür.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/Simyacı.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/simya.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Simyacı</h5>
                            <p>Simyacı, Santiago adındaki Endülüslü bir çobanın İspanya’dan başlayıp Mısır’da sona eren yolculuğunu konu ediniyor. Gördüğü bir rüya üzerine sahip olduğu her şeyi ardında bırakan Santiago’nun bu serüveni, onu düşlerine kavuşturduğu kadar hayatın hakikatine de ulaştırıyor. Simyacı’nın sayfalarını çevirdikçe siz de Santiago’yla birlikte kendi içinize doğru bir yolculuğa çıkacaksınız</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/Semerkant.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/semeerorj.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Semerkant</h5>
                            <p>Dünyaca ünlü Lübnanlı yazar Amin Maalouf’un 1988 yılında yayımlanan çarpıcı eseri Semerkant, okurlarıyla ilk buluşmasının üzerinden 30 yıl geçmesine rağmen “Çok Satanlar” listelerindeki önceliğini koruyor. Çok boyutlu ve etkileyici hikayesiyle yüreklere dokunan Semerkant</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/Tutunamayanlar.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/Tutunamayanlar.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Tutunamayanlar</h5>
                            <p> Tutunamayanlar konusu itibariyle intihar eden arkadaşının geçmişini araştıran Turgut Özben’in, söz konusu arkadaşı Selim Işık’ın modern hayata neden “Tutunamadığı”nı öğrenme çabasını anlatmaktadır.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/sefiller.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/sefiller.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Sefiller</h5>
                            <p> Hugo, Sefiller adlı dev romanının önsözünü şöyle bitirir: "Yeryüzünde yoksulluk ve bilgisizliğin egemenliği sürdükçe, böylesi kitaplar gereksiz sayılmayabilir."</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/sherlock.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/baskerville.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>The Eye Of The World</h5>
                            <p>Baskerville Köpeği 1901 - 1902'de tefrika edilmiş, kitap olarak ilk baskısı 1902'de yapılmıştır. En ünlü maceralarında, Sherlock Holmes ve Doktor Watson İngiltere'nin kırsal bölgelerine uzanıyorlar.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/dava.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/dava.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Dava</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi libero qui quibusdam doloremque corporis quas!  "Benim bu yasadan haberim yok," dedi K.
                                "Çok yazık doğrusu," dedi Gözcü.
                                "Herhalde bu yasa yalnızca sizin kafanızda var," diye yanıtladı K.
                            <p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-manuel mb-4">
                <a href="~/library/Kitaplar/biromur.html" class="book-box">
                    <div class="book-image">
                        <img src="~/library/img/biromurnasil.jpg" class="img-fluid-manuel">
                        <div class="book-detail">
                            <h5>Bir Ömür Nasıl Yaşanır</h5>
                            <p> İlk gençlik yıllarından beri bilgiyi ve çalışmayı hayat felsefesi haline getiren Prof. Dr. İlber Ortaylı, Bir Ömür Nasıl Yaşanır? adlı kitabında kendi yaşam tecrübesinden yola çıkarak okurlarına eşsiz bir yaşam rehberi sunuyor.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="about">

    <div class="about-contect">

        <div class="col-12 text-center mb-5">
            <h3 class="text-uppercase books-title-hak ">Hakkımızda</h3>
            <div class="line">
                <hr>
                <i class="fas fa-star line-icon-hak"></i>
            </div>

        </div>
        <div id="about-text">
            <div class="left">
                <p class="text">
                   Keşan da öğrencilerimize Keşan Yusuf Ç.U.B.Y.O'nda bulunan okulumuza ait büyük bir kütüphane de yüzlerde kitap seçeneği.
                </p>
            </div>
            <div class="right">
                <p class="text">
                    Birbirinden farklı kitap seçeneği ile aranan her türlü kitaplar burada bulunmakta ve ödünç işlemleri ile okurlarla buluşmaktaZ
                </p>
            </div>
        </div>
    </div>

</section>

<section id="iletisim">
    <div class="container">
        <div class="iletisim-contact mt-2">

            <div class="col-12 text-center mt-5">
                <h3 class="text-uppercase books-title-ilet ">İletişim</h3>
                <div class="line">
                    <hr>
                    <i class="fas fa-star line-icon-ilet"></i>
                </div>
                @using (Html.BeginForm("V_anasayfa", "VitrinAnasayfa", FormMethod.Post))
                {
                    <form class="contact-form">

                        <div class="form-group">
                            <input type="text" name="Ad" id="name" placeholder="İsim">
                        </div>

                        <div class="form-group">
                            <input type="email" name="Mail" placeholder="E-mail Adres">
                        </div>

                        <div class="form-group">
                            <input type="text" name="Telefon" id="phone" placeholder="Telefon">
                        </div>

                        <div class="form-group">
                            <textarea id="message" name="Mesaj" rows="5" placeholder="Mesajınızı iletin"></textarea>
                        </div>

                        <div>
                            <button class="btn gonder">
                                Gönder
                            </button>
                        </div>

                    </form>
                }

            </div>
        </div>
    </div>

</section>
