@model BrainLibrary.Models.Entity.Hareketler
@{
    ViewBag.Title = "V_kategoriler";
    Layout = "~/Views/Shared/VitrinLayout.cshtml";
}


<div class="container kategori">
    <div class="row mb-5">
        <div class="col-md-3">
            <div class="test-div">
                <div class="dropdown">
                    <button class="btn btn-lg btn-menu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Kategoriler Listesi
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Dünya Klasikleri</a></li>
                        <li><a class="dropdown-item" href="#">Piskoloji </a></li>
                        <li><a class="dropdown-item" href="#">Roman</a></li>
                        <li><a class="dropdown-item" href="#">Tarih </a></li>
                        <li><a class="dropdown-item" href="#">Kişisel Gelişim</a></li>
                        <li><a class="dropdown-item" href="#">Roman</a></li>
                        <li><a class="dropdown-item" href="#">Macera</a></li>
                        <li><a class="dropdown-item" href="#">Aksiyon</a></li>
                        <li><a class="dropdown-item" href="#">Felsefe </a></li>
                        <li><a class="dropdown-item" href="#">Gerilim </a></li>
                        <li><a class="dropdown-item" href="#">Fantastik </a></li>
                        <li><a class="dropdown-item" href="#">Sağlık </a></li>
                        <li><a class="dropdown-item" href="#">Hukuk </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="test-div ">
                <div class="dropdown">
                    <button class="btn btn-lg btn-menu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Yazarların Listesi
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Dan Brown </a></li>
                        <li><a class="dropdown-item" href="#">Adam	Fawer </a></li>
                        <li><a class="dropdown-item" href="#">Paulo	Coelho</a></li>
                        <li><a class="dropdown-item" href="#">Jose	Mauro De Vasconcelos </a></li>
                        <li><a class="dropdown-item" href="#">Oğuz	Atay </a></li>
                        <li><a class="dropdown-item" href="#">Amin	Maalouf </a></li>
                        <li><a class="dropdown-item" href="#">Yaşar	Kemal </a></li>
                        <li><a class="dropdown-item" href="#">Charles	Dickens </a></li>
                        <li><a class="dropdown-item" href="#">Fyodor	Dostoyevski </a></li>
                        <li><a class="dropdown-item" href="#">Leo	Tolstoy </a></li>
                        <li><a class="dropdown-item" href="#">Anna	Karenina </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="test-div">
                <div class="dropdown">
                    <button class="btn btn-lg btn-menu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Yayınevleri Listesi
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Everest</a></li>
                        <li><a class="dropdown-item" href="#">Yapı Kredi</a></li>
                        <li><a class="dropdown-item" href="#">Can</a></li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="test-div ">
                <div class="dropdown">
                    <button class="btn btn-lg btn-menu dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Personel Listesi
                    </button>
                    <ul class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Dilek</a></li>
                        <li><a class="dropdown-item" href="#">Murat</a></li>
                        <li><a class="dropdown-item" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="kategorisec">
    <div class="tittle">
        <h1>Kadir Avşar</h1>
        <div class="line">

        </div>
        <div class="row katrow">
            <div class="col katcol">
                <img src="~/library/img/img1.png" alt="">
                <p class="katpar">Lorem ipsum dolor sit amet.</p>
                <button class="btn gonder">
                    Gönder
                </button>
            </div>
            <div class="col catcol">
                <img src="~/library/img/img2.png" alt="">
                <p class="katpar">Lorem ipsum dolor sit amet.</p>
                <button class="btn gonder">
                    Gönder
                </button>

            </div>
        </div>
    </div>
</section>

