
@{
    ViewBag.Title = "V_kitaplar";
    Layout = "~/Views/Shared/VitrinLayout.cshtml";
}


<div class="carousel-section-header container pt-5"  >
    <h3 class="books-text-color">
        <a href="">Klasik Kitaplar</a>
    </h3>
</div>
<div class="container slider-cont">
    <div class="kitap_slider owl-carousel owl-theme "style="font-size:50px !important;">
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/The Eye of the World.html"><img src="~/library/img/1.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/sherlock.html"><img src="~/library/img/baskerville.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Incememed.html"><img src="~/library/img/nceMemed.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Olasılıksız.html"><img src="~/library/img/Olasılıksız.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Seker.html"><img src="~/library/img/Şeker.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Semerkant.html"><img src="~/library/img/semeerorj.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Simyacı.html"><img src="~/library/img/simya.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/dava.html"><img src="~/library/img/dava.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/biromur.html"><img src="~/library/img/biromurnasil.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/buyukuyku.html"><img src="~/library/img/buyukuyku.jpg" alt=""></a>

        </div>


    </div>
</div>
<div class="carousel-section-header container pt-5">
    <h3 class="books-text-color">
        <a href="">Dünya Klasikleri</a>
    </h3>
</div>
<div class="container slider-cont">
    <div class="kitap_slider owl-carousel owl-theme">
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/The Eye of the World.html"><img src="~/library/img/1.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/sherlock.html"><img src="~/library/img/baskerville.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Incememed.html"><img src="~/library/img/nceMemed.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Olasılıksız.html"><img src="~/library/img/Olasılıksız.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Seker.html"><img src="~/library/img/Şeker.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Semerkant.html"><img src="~/library/img/semeerorj.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Simyacı.html"><img src="~/library/img/simya.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/dava.html"><img src="~/library/img/dava.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/biromur.html"><img src="~/library/img/biromurnasil.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/buyukuyku.html"><img src="~/library/img/buyukuyku.jpg" alt=""></a>

        </div>


    </div>
</div>
<div class="carousel-section-header container pt-5">
    <h3 class="books-text-color">
        <a href="">Kişisel Gelişim</a>
    </h3>
</div>
<div class="container slider-cont">
    <div class="kitap_slider owl-carousel owl-theme">
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/The Eye of the World.html"><img src="~/library/img/1.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/sherlock.html"><img src="~/library/img/baskerville.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Incememed.html"><img src="~/library/img/nceMemed.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Olasılıksız.html"><img src="~/library/img/Olasılıksız.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Seker.html"><img src="~/library/img/Şeker.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Semerkant.html"><img src="~/library/img/semeerorj.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Simyacı.html"><img src="~/library/img/simya.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/dava.html"><img src="~/library/img/dava.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/biromur.html"><img src="~/library/img/biromurnasil.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/buyukuyku.html"><img src="~/library/img/buyukuyku.jpg" alt=""></a>

        </div>


    </div>
</div>
<div class="carousel-section-header container pt-5">
    <h3 class="books-text-color">
        <a href="">Piskoloji</a>
    </h3>
</div>
<div class="container slider-cont">
    <div class="kitap_slider owl-carousel owl-theme">
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/The Eye of the World.html"><img src="~/library/img/1.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/sherlock.html"><img src="~/library/img/baskerville.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Incememed.html"><img src="~/library/img/nceMemed.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Olasılıksız.html"><img src="~/library/img/Olasılıksız.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Seker.html"><img src="~/library/img/Şeker.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Semerkant.html"><img src="~/library/img/semeerorj.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Simyacı.html"><img src="~/library/img/simya.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/dava.html"><img src="~/library/img/dava.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/biromur.html"><img src="~/library/img/biromurnasil.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/buyukuyku.html"><img src="~/library/img/buyukuyku.jpg" alt=""></a>

        </div>


    </div>
</div>
<div class="carousel-section-header container pt-5">
    <h3 class="books-text-color">
        <a href="">Edebiyat</a>
    </h3>
</div>
<div class="container slider-cont">
    <div class="kitap_slider owl-carousel owl-theme">
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/The Eye of the World.html"><img src="~/library/img/1.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/sherlock.html"><img src="~/library/img/baskerville.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Incememed.html"><img src="~/library/img/nceMemed.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Olasılıksız.html"><img src="~/library/img/Olasılıksız.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Seker.html"><img src="~/library/img/Şeker.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Semerkant.html"><img src="~/library/img/semeerorj.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Simyacı.html"><img src="~/library/img/simya.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/dava.html"><img src="~/library/img/dava.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/biromur.html"><img src="~/library/img/biromurnasil.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/buyukuyku.html"><img src="~/library/img/buyukuyku.jpg" alt=""></a>

        </div>


    </div>
</div>
<div class="carousel-section-header container pt-5">
    <h3 class="books-text-color">
        <a href="">Felsefi Kitaplar</a>
    </h3>
</div>
<div class="container slider-cont">
    <div class="kitap_slider owl-carousel owl-theme">
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/The Eye of the World.html"><img src="~/library/img/1.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/sherlock.html"><img src="~/library/img/baskerville.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Incememed.html"><img src="~/library/img/nceMemed.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Olasılıksız.html"><img src="~/library/img/Olasılıksız.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Seker.html"><img src="~/library/img/Şeker.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Semerkant.html"><img src="~/library/img/semeerorj.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/Simyacı.html"><img src="~/library/img/simya.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/dava.html"><img src="~/library/img/dava.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/biromur.html"><img src="~/library/img/biromurnasil.jpg" alt=""></a>

        </div>
        <div class="kitap_slider-item">
            <a href="~/library/Kitaplar/buyukuyku.html"><img src="~/library/img/buyukuyku.jpg" alt=""></a>

        </div>


    </div>
</div>




