
@{
    ViewBag.Title = "V_register";
    Layout = "~/Views/VitrinLoginRegister/V_LoginRegister.cshtml";
}

<form action="#" method="post">
    <div class="form-box">
        <div class="header-text">
            Kayıt Formu
        </div>
        <div class="row">
            <div class="col">
                <input placeholder="Ad" name="Ad" type="text">
                <input placeholder="Soyad" name="Soyad" type="text">
            </div>
            <div class="col">
                <input placeholder="Kullanıcı Adı" name="KullaniciAdi" type="text">
                <input placeholder="Öğrenci numarası" name="OgrenciNo" type="number">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input placeholder="Mail giriniz" name="Mail" type="email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input placeholder="Şifre Giriniz " name="Sifre" type="password">
            </div>
        </div> <div class="row">
            <div class="col">
                <input placeholder="Bölüm Giriniz " name="Bolum" type="text">
            </div>
        </div>


        <button class="girisbtn">Kayıt Ol</button>
    </div>
</form>

