@model BrainLibrary.Models.Entity.Kategoriler

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminSide.cshtml";
}
<h2 style="text-align:center;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; ">Kategori Ekleme Paneli</h2>
<br />

<form method="post" class="form-group ms-2">
    <div></div>
    <div>
        <label class="mt-2">Kategori Adı</label>
        <input type="text" name="Ad" class="form-control mt-2 " />
    </div>
    <div style="margin-top:15px;">
        <button class="btn " style="background-color: #393E46; color:#fff;">Kategori Ekle</button>
    </div>
</form>

